body {
		background: #8FBC8F;
		font-family: Helvetica Neue, sans-serif;
}

.assignment {
	display: flex;
	padding: 30px;
	margin: 30px;
	background: #aebbc1
}

.assignment img {
	width: 500px;
	padding: 30px;
}
h1 {
	color: white;
	text-align:center;
}
